@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html,
body {
    height: 100%;
    background-color: #f8e2f8;
}

.wrap {
    min-height: 100%;
    width: auto;
    height: auto;
    /*margin: 0 auto -60px;*/
    /*padding: 0 0 60px;*/
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #821e82;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    /*position: absolute;*/
    /*bottom: 0px;*/
    width: 100%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}


@media(max-width:767px) {
    .nav li > form > button.logout {
         display:block;
         text-align: left;
         width: 100%;
         padding: 10px 15px;
     }
}

@media only screen and (max-width: 481px) {
    #menu-mobile {
        /*position: fixed;*/
        top: 0px;
        text-align: center;
        margin: 10px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#menu-mobile {
    /*position: fixed;*/
    font-family: 'Josefin Sans', sans-serif;
    top: 0px;
    width: auto;
    text-align: center;
    color: #d3a7db;
    font-size: 18px;
    padding: 15px;
    background: #f8e2f8;
    border: 5px;
    border-color: #821e82;
    margin: 3px;
}
/*li{*/
     /*font-size: 18px;*/
     /*background: black;*/
 /*}*/
/*li > a {*/
    /*color: white;*/
/*}*/

.menu{
    font-size: 14px;
    /*float: left;*/
    background: #821e82;

}

/*.menu:hover{*/
    /*font-size: 22px;*/
    /*float: left;*/
    /*background: #821e82;*/

/*}*/

.menu > li > a{
    color: white;
}
.menu > li > a:hover{
    background-color: #d3a7db;
    color: #821e82;
}

.dropdown-menu {
    /*width: 100%;*/
    text-align: center;
    left: 5px;
    right: 5px;
    top: auto;
    position: fixed;
}

#homeContentForUser > div{
    font-family: 'Josefin Sans', sans-serif;
    /*width: 300px;*/
    text-align: center;
    font-size: larger;
    font-weight: 900;
    height: 300px;
    padding: 50px;
    margin: 10px;
    border: 4px;
    border-color: #821e82;

}
#homeContentForUser > #regVehicle{
    background-color: #d3a7db;
    color: #821e82;
}

#homeContentForUser{
    align-content: center;
}

#homeContentForUser > #regClient{
    background-color: #d3a7db;
    color: #821e82;

}
#homeContentForUser > #newOrder{
    background-color: #821e82;
    color: white;
}
#homeContentForUser > div > button{
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #821e82;
}

.profile_photo_min{
    width: auto;
    height: 150px;
}

